<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/css/all.css')}}">
    <title>{% block title %}{% endblock %}</title>
    {% block styling %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="/"><i class="fas fa-flask"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li>
                    <a class="nav-link" href="/upload-image">IMAGE PROCESSING</a>
                </li>
                <li>
                    <a class="nav-link" href="/arrythmia">ARRYTHMIA</a>
                </li>
                <li>
                    <a class="nav-link" href="/table">Record Data</a>
                </li>
                <li> -->
                    <a class="nav-link" href="/tableAF">Record Data AF</a>
                </li>
                <!-- <li>
                    <a class="nav-link" href="/saved_image">Saved image</a>
                </li> -->
                <li>
                    <a class="nav-link" href="/Atrial">AF</a>
                </li>
            </ul>
        </div>
        
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>


    {% block script %}{% endblock %}

</body>

</html>