{% extends "public/templates/public_template.html" %}

{% block title %}Main App{% endblock %}

{% block main %}

<div class="container">

    <!-- Outer Row -->
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-5">
            <div class="card">
                <img src="{{url_for('static', filename='AF/'+computers[0][1]+'-bef.png')}}" class="card-img-top">
            </div>
        </div>
        <div class="col-2 align-items-center justify-content-center">
            <i class="fas fa-arrow-right" style="color: black !important;"></i>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <img src="{{url_for('static', filename='AF/'+computers[0][1]+'-aft.png')}}" class="card-img-top">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-10 align-items-center justify-content-center">
            <p>Status Detect : {{computers[0][2]}}</p>
        </div>
    </div>

</div>

<!-- /.container -->
{% endblock %}