{% extends "public/templates/public_template.html" %}

{% block title %}Main App{% endblock %}

{% block main %}

<div class="container">
    <div class="starter-template">
        <h1 class="m-3" style="color: white;">Data History</h1>
        <table class="table table-dark table-striped m-3" id="tabel-status">
            <thead>
                <tr>
                    <td>No</td>
                    <td>File Name</td>
                    <td>Result</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


</div>

<!-- Modal -->


<div id="previrewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tambah Data</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('simpan') }}" method="POST">
                    <div class="form-group">
                        <label>Nama file:</label>
                        <input type="text" class="form-control" name="file">
                    </div>
                    <div class="form-group">
                        <label>Status detect:</label>
                        <input type="text" class="form-control" name="status_detect">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tambah Data</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('simpan') }}" method="POST">
                    <div class="form-group">
                        <label>Nama file:</label>
                        <input type="text" class="form-control" name="file">
                    </div>
                    <div class="form-group">
                        <label>Status detect:</label>
                        <input type="text" class="form-control" name="status_detect">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Form -->
<!-- Modal -->
<div class="modal fade" id="modal-rinci" tabindex="-1" aria-labelledby="ModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel">Detail</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Isi Form -->
                <!-- <input type="hidden" id="id_user" name="id_user" value=""> -->
                <div class="form-group">
                    <img src="" class="img-fluid" alt="" id="data_pic_src">
                </div>
                <div class="form-group">
                    <label for="">Status :</label>
                    <label for="" id="status_af"></label>
                </div>
                <div class="form-group justify-content-center">
                    <label for="" id="which-img"></label>
                </div>
                <div>
                    <button id="switcher" class="btn btn-success float-right">After</button>
                </div>
                <hr>
                <!-- <div class="justify-content-around">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </div> -->
			</div>
			<!-- Penutup Form -->
		</div>
		<div class="modal-footer">
			<!-- <button id="summit-tambah" type="submit" class="btn btn-success">Tambah</button> -->
		</div>
	</div>
</div>

<!-- /.container -->
{% endblock %}

{% block script %}
<script>
    $(document).ready(function (){
        // console.log('is it working?');
        // $('#tabel-status').DataTable();
        // $('#example').DataTable();
        var tabelStatus = $('#tabel-status').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": false,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true
	    });
        function rendertabel() {
            tabelStatus.clear();
            $.ajax({
                method:"POST",
                url:"/getTabel",
                data: {}
            })
            .done(function (msg){
                console.log(typeof(msg));
                console.log(msg);
                var restr = JSON.stringify(msg);
                var res = JSON.parse(restr);
                console.log(typeof(res));
                console.log(res);
                for(i=0;i<res.length;i++){
                    $rinci = '<button type="button" id="rinci" id_data='+ res[i]['id'] +' class="btn btn-success btn-xs btn-rinci" data-toggle="modal" data-target="#modal-rinci">Detail</button>'
                    tabelStatus.row.add([
                        res[i]['id'],
                        res[i]['file'],
                        res[i]['status_detect'],
                        $rinci
                    ]).draw(false);
                }
            });
        }
        
        rendertabel();

        $("#tabel-status").on('click','.btn-rinci', function (){
            var id_data = $(this).attr('id_data');
            console.log('do sonme');
            console.log(id_data);
            $.ajax({
                method: "POST",
                url: "/getDataByID",
                data: {
                    data_id: id_data
                }
            })
            .done(function (msg){
                var res = JSON.stringify(msg);
                var res = JSON.parse(res);
                // res = res[0];
                // console.log(msg);
                // console.log(res);
                // console.log(res['file']);

                $("#ModalLabel").text(res['file']);
                $("#status_af").text(res['status_detect']);
                $("#data_pic_src").attr("src","static/AF/"+res['file']+'-bef.png');
                $("#which-img").text("Before");

            });
        });

        $("#switcher").click(function(){
            if($("#which-img").text() == "Before"){
                var pic_src = $('#data_pic_src').attr("src");
                // console.log(pic_src);
                pic_src = pic_src.split("-");
                pic_src[pic_src.length-1] = "aft.png"
                pic_src = pic_src.join('-');
                $('#data_pic_src').attr("src",pic_src);
                $('#switcher').attr("class","btn btn-success float-left");
                $("#switcher").text("Before");
                $("#which-img").text("After");
            }else if($("#which-img").text() == "After"){
                var pic_src = $('#data_pic_src').attr("src");
                // console.log(pic_src);
                pic_src = pic_src.split("-");
                pic_src[pic_src.length-1] = "bef.png"
                pic_src = pic_src.join('-');
                $('#data_pic_src').attr("src",pic_src);
                $('#switcher').attr("class","btn btn-success float-right");
                $("#switcher").text("After");
                $("#which-img").text("Before");
            }
        });

    });
</script>
{% endblock %}